@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html{
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
:root{
  --prim-bg:black;
  --para-clr:rgb(237, 234, 234);
  --but-clr:#f9f648
}
body{
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  /* overflow-y: hidden; */
  display: none;
  
}
input , textarea{
  border: none;
  outline: none;
}
.section_padding{
  padding: 1rem 4rem;
}
a{
  text-decoration: none;
  color: var(--para-clr);
}
@media screen and (max-width:1000px) {
  .section_padding{
    padding: 1rem 3rem;
  }
  
  
}




@media screen and (max-width: 650px) {
  .section_padding{
    padding: 1.5rem 2rem;
  }
  p{
    font-size: .8rem;
  }
  
}

@media screen and (max-width: 400px) {
  .section_padding{
    padding: 1rem;
  }
  
  
}